In [1]:
import pandas as pd
import numpy as np

In [2]:
dfmv = pd.read_csv(r"D:\Notes_Notebooks\Data\imdb-top-1000.csv")
dfmtch = pd.read_csv(r"D:\Notes_Notebooks\Data\deliveries.csv")

In [3]:
dfmv

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [4]:
dfmtch

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [5]:
gnr = dfmv.groupby("Genre")
gnr

In [6]:
gnr.groups

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

In [7]:
gnr.indices

{'Action': array([  2,   5,   8,  10,  13,  14,  16,  29,  30,  31,  39,  42,  44,
         55,  57,  59,  60,  63,  68,  72, 106, 109, 129, 130, 134, 140,
        142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194,
        201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320,
        325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357,
        362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482,
        488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570,
        573, 577, 582, 583, 602, 605, 608, 615, 623, 625, 627, 634, 641,
        642, 645, 648, 655, 659, 663, 666, 674, 677, 678, 685, 696, 702,
        705, 709, 710, 718, 722, 725, 730, 737, 746, 749, 751, 768, 774,
        776, 777, 782, 784, 807, 821, 832, 839, 840, 847, 850, 852, 853,
        854, 856, 861, 865, 887, 888, 889, 893, 896, 898, 900, 901, 908,
        909, 914, 918, 924, 927, 928, 930, 931, 944, 951, 963, 968, 979,
        982, 983, 985], dtype=int64),
 'Adventure': array([ 21,  47,  93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209,
        226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361,
        366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514,
        537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681,
        686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912,
        919, 947, 957, 964, 966, 984, 991], dtype=int64),
 'Animation': array([ 23,  43,  46,  56,  58,  61,  66,  70, 101, 135, 146, 151, 158,
        170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330,
        332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469,
        499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640,
        643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771,
        783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956,
        971, 976, 986, 992], dtype=int64),
 'Biography': array([  7,  15,  18,  35,  38,  54, 102, 107, 131, 139, 147, 157, 159,
        173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298,
        317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416,
        418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606,
        614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748,
        753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858,
        877, 882, 897, 910, 915, 923, 940, 949, 952, 987], dtype=int64),
 'Comedy': array([ 19,  26,  51,  52,  64,  78,  83,  95,  96, 112, 117, 120, 127,
        128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238,
        240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318,
        322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435,
        445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481,
        490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541,
        547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626,
        630, 660, 662, 667, 679, 680, 683, 687, 701, 704, 715, 717, 726,
        727, 732, 733, 743, 750, 752, 754, 760, 780, 786, 789, 794, 800,
        801, 803, 805, 806, 808, 814, 816, 817, 819, 826, 830, 835, 836,
        837, 842, 846, 848, 855, 869, 870, 871, 879, 907, 935, 937, 945,
        953, 967, 969, 970, 972, 973, 975, 977, 978, 989, 994, 995],
       dtype=int64),
 'Crime': array([  1,   3,   4,   6,  22,  25,  27,  28,  33,  37,  41,  71,  77,
         79,  86,  87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163,
        164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287,
        288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442,
        444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523,
        527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664,
        669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811,
        823, 827, 833, 885, 895, 921, 922, 926, 938, 939, 954, 958, 960,
        974, 980, 999], dtype=int64),
 'Drama': array([  0,   9,  11,  17,  20,  24,  32,  34,  36,  40,  45,  50,  53,
         62,  65,  67,  73,  74,  76,  80,  82,  84,  85,  88,  89,  90,
         91,  92,  94,  97,  98,  99, 100, 104, 105, 121, 122, 124, 126,
        138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184,
        185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234,
        237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269,
        272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295,
        296, 297, 302, 303, 307, 310, 312, 314, 315, 319, 324, 333, 334,
        336, 341, 344, 347, 349, 350, 352, 354, 355, 370, 371, 382, 383,
        387, 388, 391, 398, 400, 404, 407, 408, 412, 421, 422, 423, 425,
        428, 430, 432, 433, 434, 439, 440, 443, 447, 448, 452, 453, 454,
        457, 461, 462, 467, 468, 476, 478, 483, 486, 489, 491, 492, 495,
        501, 504, 508, 515, 517, 521, 524, 529, 534, 548, 550, 551, 554,
        555, 559, 561, 567, 571, 572, 580, 581, 585, 588, 589, 590, 601,
        610, 612, 616, 617, 619, 620, 624, 628, 629, 631, 636, 637, 646,
        652, 654, 656, 658, 661, 668, 670, 682, 689, 690, 693, 697, 699,
        703, 706, 716, 719, 720, 721, 731, 734, 735, 736, 738, 742, 745,
        747, 764, 765, 769, 772, 773, 778, 785, 787, 788, 790, 792, 793,
        804, 812, 813, 818, 824, 825, 834, 838, 841, 845, 857, 859, 860,
        862, 863, 864, 866, 867, 868, 872, 874, 878, 880, 881, 883, 886,
        890, 894, 903, 904, 905, 911, 913, 916, 917, 925, 929, 933, 934,
        936, 941, 942, 943, 946, 950, 955, 962, 965, 981, 988, 990, 993,
        996, 997, 998], dtype=int64),
 'Family': array([688, 698], dtype=int64),
 'Fantasy': array([321, 568], dtype=int64),
 'Film-Noir': array([309, 456, 712], dtype=int64),
 'Horror': array([ 49,  75, 271, 419, 544, 707, 724, 844, 876, 932, 948], dtype=int64),
 'Mystery': array([ 69,  81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961],
       dtype=int64),
 'Thriller': array([700], dtype=int64),
 'Western': array([ 12,  48, 115, 691], dtype=int64)}

In [73]:
gnr.get_group("Action")[100:150]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
625,Apocalypto,2006,139,Action,7.8,Mel Gibson,Gerardo Taracena,291018,50866635.0,68.0
627,Hot Fuzz,2007,121,Action,7.8,Edgar Wright,Simon Pegg,463466,23637265.0,81.0
634,Serenity,2005,119,Action,7.8,Joss Whedon,Nathan Fillion,283310,25514517.0,74.0
641,Gongdong gyeongbi guyeok JSA,2000,110,Action,7.8,Chan-wook Park,Lee Yeong-ae,26518,147161249.0,58.0
642,The Count of Monte Cristo,2002,131,Action,7.8,Kevin Reynolds,Jim Caviezel,129022,54234062.0,61.0
645,Wo hu cang long,2000,120,Action,7.8,Ang Lee,Yun-Fat Chow,253228,128078872.0,94.0
648,The Boondock Saints,1999,108,Action,7.8,Troy Duffy,Willem Dafoe,227143,25812.0,44.0
655,The Game,1997,129,Action,7.8,David Fincher,Michael Douglas,345096,48323648.0,61.0
659,Tombstone,1993,130,Action,7.8,George P. Cosmatos,Kevin Jarre,126871,56505065.0,50.0
663,The Fugitive,1993,130,Action,7.8,Andrew Davis,Harrison Ford,267684,183875760.0,87.0
666,Lat sau san taam,1992,128,Action,7.8,John Woo,Yun-Fat Chow,46700,565451439.0,NaN
674,Dip huet seung hung,1989,111,Action,7.8,John Woo,Yun-Fat Chow,45624,549325150.0,82.0
677,Predator,1987,107,Action,7.8,John McTiernan,Arnold Schwarzenegger,371387,59735548.0,45.0
678,Evil Dead II,1987,84,Action,7.8,Sam Raimi,Bruce Campbell,148359,5923044.0,72.0
685,Ghostbusters,1984,105,Action,7.8,Ivan Reitman,Bill Murray,355413,238632124.0,71.0
696,Badlands,1973,94,Action,7.8,Terrence Malick,Martin Sheen,66009,88117434.0,93.0
702,Bonnie and Clyde,1967,111,Action,7.8,Arthur Penn,Warren Beatty,102415,909838190.0,86.0
705,The Longest Day,1962,178,Action,7.8,Ken Annakin,Andrew Marton,52141,39100000.0,75.0
709,Red River,1948,133,Action,7.8,Howard Hawks,Arthur Rosson,28167,116161549.0,NaN
710,Key Largo,1948,100,Action,7.8,John Huston,Humphrey Bogart,36995,55936517.0,NaN
718,Scarface: The Shame of the Nation,1932,93,Action,7.8,Howard Hawks,Richard Rosson,25312,82900837.0,87.0
722,Deadpool 2,2018,119,Action,7.7,David Leitch,Ryan Reynolds,478586,324591735.0,66.0
725,Mission: Impossible - Fallout,2018,147,Action,7.7,Christopher McQuarrie,Tom Cruise,291257,220159104.0,86.0
730,Kingsman: The Secret Service,2014,129,Action,7.7,Matthew Vaughn,Colin Firth,590440,128261724.0,60.0
737,Captain America: The Winter Soldier,2014,136,Action,7.7,Anthony Russo,Joe Russo,736182,259766572.0,70.0
746,Star Trek Into Darkness,2013,132,Action,7.7,J.J. Abrams,Chris Pine,463188,228778661.0,72.0
749,X: First Class,2011,131,Action,7.7,Matthew Vaughn,James McAvoy,645512,146408305.0,65.0
751,Skyfall,2012,143,Action,7.7,Sam Mendes,Daniel Craig,630614,304360277.0,81.0
768,Lucky Number Slevin,2006,110,Action,7.7,Paul McGuigan,Josh Hartnett,299524,22494487.0,53.0
774,3:10 to Yuma,2007,122,Action,7.7,James Mangold,Russell Crowe,288797,53606916.0,76.0
776,Kung fu,2004,99,Action,7.7,Stephen Chow,Stephen Chow,127250,17108591.0,78.0
777,The Bourne Supremacy,2004,108,Action,7.7,Paul Greengrass,Matt Damon,434841,176241941.0,73.0
782,Man on Fire,2004,146,Action,7.7,Tony Scott,Denzel Washington,329592,77911774.0,47.0
784,The Last Samurai,2003,154,Action,7.7,Edward Zwick,Tom Cruise,400049,111110575.0,55.0
807,The Fifth Element,1997,126,Action,7.7,Luc Besson,Bruce Willis,434125,63540020.0,52.0
821,The Last of the Mohicans,1992,112,Action,7.7,Michael Mann,Daniel Day-Lewis,150409,75505856.0,76.0
832,Empire of the Sun,1987,153,Action,7.7,Steven Spielberg,Christian Bale,115677,22238696.0,62.0
839,Star Trek II: The Wrath of Khan,1982,113,Action,7.7,Nicholas Meyer,William Shatner,112704,78912963.0,67.0
840,First Blood,1982,93,Action,7.7,Ted Kotcheff,Sylvester Stallone,226541,47212904.0,61.0
847,The Taking of Pelham One Two Three,1974,104,Action,7.7,Joseph Sargent,Walter Matthau,26729,660264543.0,68.0
850,Enter the Dragon,1973,102,Action,7.7,Robert Clouse,Bruce Lee,96561,25000000.0,83.0
852,The French Connection,1971,104,Action,7.7,William Friedkin,Gene Hackman,110075,15630710.0,94.0
853,Dirty Harry,1971,102,Action,7.7,Don Siegel,Clint Eastwood,143292,35900000.0,90.0
854,Where Eagles Dare,1968,158,Action,7.7,Brian G. Hutton,Richard Burton,51913,856773674.0,63.0
856,The Dirty Dozen,1967,150,Action,7.7,Robert Aldrich,Lee Marvin,67183,45300000.0,73.0
861,Goldfinger,1964,110,Action,7.7,Guy Hamilton,Sean Connery,174119,51081062.0,87.0
865,The Magnificent Seven,1960,128,Action,7.7,John Sturges,Yul Brynner,87719,4905000.0,74.0
887,Guardians of the Galaxy Vol. 2,2017,136,Action,7.6,James Gunn,Chris Pratt,569974,389813101.0,67.0
888,Baby Driver,2017,113,Action,7.6,Edgar Wright,Ansel Elgort,439406,107825862.0,86.0
889,Only the Brave,2017,134,Action,7.6,Joseph Kosinski,Josh Brolin,58371,18340051.0,72.0

In [8]:
gnritr = gnr.__iter__()

In [9]:
gpnm,gpdf = next(gnritr)
gpdf

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
5,The Lord of the Rings: The Return of the King,2003,201,Action,8.9,Peter Jackson,Elijah Wood,1642758,377845905.0,94.0
8,Inception,2010,148,Action,8.8,Christopher Nolan,Leonardo DiCaprio,2067042,292576195.0,74.0
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,Peter Jackson,Elijah Wood,1661481,315544750.0,92.0
13,The Lord of the Rings: The Two Towers,2002,179,Action,8.7,Peter Jackson,Elijah Wood,1485555,342551365.0,87.0
...,...,...,...,...,...,...,...,...,...,...
968,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
979,Lethal Weapon,1987,109,Action,7.6,Richard Donner,Mel Gibson,236894,65207127.0,68.0
982,Mad Max 2,1981,96,Action,7.6,George Miller,Mel Gibson,166588,12465371.0,77.0
983,The Warriors,1979,92,Action,7.6,Walter Hill,Michael Beck,93878,22490039.0,65.0
985,Escape from Alcatraz,1979,112,Action,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0

In [10]:
lst = []
for gpnm,gndf in gnr:
    lst.append(gndf)

a = lst[0]
a

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
5,The Lord of the Rings: The Return of the King,2003,201,Action,8.9,Peter Jackson,Elijah Wood,1642758,377845905.0,94.0
8,Inception,2010,148,Action,8.8,Christopher Nolan,Leonardo DiCaprio,2067042,292576195.0,74.0
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,Peter Jackson,Elijah Wood,1661481,315544750.0,92.0
13,The Lord of the Rings: The Two Towers,2002,179,Action,8.7,Peter Jackson,Elijah Wood,1485555,342551365.0,87.0
...,...,...,...,...,...,...,...,...,...,...
968,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
979,Lethal Weapon,1987,109,Action,7.6,Richard Donner,Mel Gibson,236894,65207127.0,68.0
982,Mad Max 2,1981,96,Action,7.6,George Miller,Mel Gibson,166588,12465371.0,77.0
983,The Warriors,1979,92,Action,7.6,Walter Hill,Michael Beck,93878,22490039.0,65.0
985,Escape from Alcatraz,1979,112,Action,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0

In [11]:
type(lst[0])

pandas.core.frame.DataFrame

In [12]:
lst[1]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
21,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
47,Back to the Future,1985,116,Adventure,8.5,Robert Zemeckis,Michael J. Fox,1058081,210609762.0,87.0
93,Inglourious Basterds,2009,153,Adventure,8.3,Quentin Tarantino,Brad Pitt,1267869,120540719.0,69.0
110,Das Boot,1981,149,Adventure,8.3,Wolfgang Petersen,JÃ¼rgen Prochnow,231855,11487676.0,86.0
114,2001: A Space Odyssey,1968,149,Adventure,8.3,Stanley Kubrick,Keir Dullea,603517,56954992.0,84.0
...,...,...,...,...,...,...,...,...,...,...
957,Fear and Loathing in Las Vegas,1998,118,Adventure,7.6,Terry Gilliam,Johnny Depp,259753,10680275.0,41.0
964,Dead Man,1995,121,Adventure,7.6,Jim Jarmusch,Johnny Depp,90442,1037847.0,62.0
966,Apollo 13,PG,140,Adventure,7.6,Ron Howard,Tom Hanks,269197,173837933.0,77.0
984,The Muppet Movie,1979,95,Adventure,7.6,James Frawley,Jim Henson,32802,76657000.0,74.0
991,Kelly's Heroes,1970,144,Adventure,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435.0,50.0

In [13]:
lst[-1]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
12,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0
115,Per qualche dollaro in piÃ¹,1965,132,Western,8.3,Sergio Leone,Clint Eastwood,232772,15000000.0,74.0
691,The Outlaw Josey Wales,1976,135,Western,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [14]:
gnr_gross = gnr["Gross"]
gnr_gross

In [15]:
lst_srs = []
for gpnm,gpsr in gnr_gross:
    lst_srs.append(gpsr)
    
a = lst_srs[0]
a

2      534858444.0
5      377845905.0
8      292576195.0
10     315544750.0
13     342551365.0
          ...
968     40903593.0
979     65207127.0
982     12465371.0
983     22490039.0
985     43000000.0
Name: Gross, Length: 172, dtype: float64

In [16]:
gnr_gross.sum()

Genre
Action       3.263226e+10
Adventure    9.496922e+09
Animation    1.463147e+10
Biography    8.276358e+09
Comedy       1.566387e+10
Crime        8.452632e+09
Drama        3.540997e+10
Family       4.391106e+08
Fantasy      7.827267e+08
Film-Noir    1.259105e+08
Horror       1.034649e+09
Mystery      1.256417e+09
Thriller     1.755074e+07
Western      5.822151e+07
Name: Gross, dtype: float64

In [17]:
fg1 = gnr[["Gross","IMDB_Rating"]]
fg1

In [18]:
fg1.mean()

                  Gross  IMDB_Rating
Genre
Action     1.897224e+08     7.949419
Adventure  1.319017e+08     7.937500
Animation  1.784326e+08     7.930488
Biography  9.404952e+07     7.938636
Comedy     1.010572e+08     7.901290
Crime      7.899656e+07     8.016822
Drama      1.225259e+08     7.957439
Family     2.195553e+08     7.800000
Fantasy    3.913633e+08     8.000000
Film-Noir  4.197018e+07     7.966667
Horror     9.405902e+07     7.909091
Mystery    1.047014e+08     7.975000
Thriller   1.755074e+07     7.800000
Western    1.455538e+07     8.350000

In [19]:
fg2 = gnr["Genre"]
fg2

In [20]:
lst3 = []
for gpnm,gpsr in fg2:
    lst3.append(gpsr)
    
a = lst3[0]
a

2      Action
5      Action
8      Action
10     Action
13     Action
        ...
968    Action
979    Action
982    Action
983    Action
985    Action
Name: Genre, Length: 172, dtype: object

In [40]:
gnr[["Series_Title","Director"]]

In [46]:
fg5 = gnr[["Metascore","IMDB_Rating","Gross"]]

In [47]:
fg5.mean()

           Metascore  IMDB_Rating         Gross
Genre
Action     73.419580     7.949419  1.897224e+08
Adventure  78.437500     7.937500  1.319017e+08
Animation  81.093333     7.930488  1.784326e+08
Biography  76.240506     7.938636  9.404952e+07
Comedy     78.720000     7.901290  1.010572e+08
Crime      77.080460     8.016822  7.899656e+07
Drama      79.701245     7.957439  1.225259e+08
Family     79.000000     7.800000  2.195553e+08
Fantasy          NaN     8.000000  3.913633e+08
Film-Noir  95.666667     7.966667  4.197018e+07
Horror     80.000000     7.909091  9.405902e+07
Mystery    79.125000     7.975000  1.047014e+08
Thriller   81.000000     7.800000  1.755074e+07
Western    78.250000     8.350000  1.455538e+07

In [21]:
gnr.count()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,172,172,172,172,172,172,172,143
Adventure,72,72,72,72,72,72,72,72,64
Animation,82,82,82,82,82,82,82,82,75
Biography,88,88,88,88,88,88,88,88,79
Comedy,155,155,155,155,155,155,155,155,125
Crime,107,107,107,107,107,107,107,107,87
Drama,289,289,289,289,289,289,289,289,241
Family,2,2,2,2,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,11,11,11,11,11,11,11
Mystery,12,12,12,12,12,12,12,12,8
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,4,4,4,4,4

In [22]:
gnr.count()["Series_Title"]

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
Name: Series_Title, dtype: int64

In [23]:
gnr.max()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,YÃ´jinbÃ´,2019,321,9.0,Zack Snyder,Yun-Fat Chow,2303232,936662225.0,98.0
Adventure,Zombieland,PG,228,8.6,Ã–mer Faruk Sorak,Yves Montand,1512360,874211619.0,100.0
Animation,Ã”kami kodomo no Ame to Yuki,2020,137,8.6,Yoshifumi KondÃ´,YÃ´ji Matsuda,999790,873839108.0,96.0
Biography,Zerkalo,2020,209,8.9,Tom McCarthy,Ã‰ric Toledano,1213505,753585104.0,97.0
Comedy,Zindagi Na Milegi Dobara,2020,188,8.6,Zoya Akhtar,Ã–mer Faruk Sorak,939631,886752933.0,99.0
Crime,Ã€ bout de souffle,2019,229,9.2,Yavuz Turgul,Vincent Cassel,1826188,790482117.0,100.0
Drama,Zwartboek,2020,242,9.3,Ã‡agan Irmak,Ã‡etin Tekindor,2343110,924558264.0,100.0
Family,Willy Wonka & the Chocolate Factory,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Nosferatu,1922,94,8.1,Robert Wiene,Werner Krauss,88794,445151978.0,NaN
Film-Noir,The Third Man,1949,108,8.1,John Huston,Teresa Wright,158731,123353292.0,97.0
Horror,The Thing,2017,122,8.5,William Friedkin,Sigourney Weaver,787806,298791505.0,97.0
Mystery,Vertigo,2012,138,8.4,Terry Gilliam,Vidya Balan,1129894,474203697.0,100.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,165,8.8,Sergio Leone,Henry Fonda,688390,31800000.0,90.0

In [24]:
gnr["Gross"].sum()

Genre
Action       3.263226e+10
Adventure    9.496922e+09
Animation    1.463147e+10
Biography    8.276358e+09
Comedy       1.566387e+10
Crime        8.452632e+09
Drama        3.540997e+10
Family       4.391106e+08
Fantasy      7.827267e+08
Film-Noir    1.259105e+08
Horror       1.034649e+09
Mystery      1.256417e+09
Thriller     1.755074e+07
Western      5.822151e+07
Name: Gross, dtype: float64

## Find the Top 3 genre according to :-

### 1)Average IMDB Rating
### 2)Maximum MetaScore
### 3)Total Gross Income

In [25]:
gnr

In [26]:
gnr["IMDB_Rating"].mean().sort_values(ascending=False).head(3)

Genre
Western    8.350000
Crime      8.016822
Fantasy    8.000000
Name: IMDB_Rating, dtype: float64

In [27]:
gnr.mean()

C:\Users\pc\AppData\Local\Temp\ipykernel_15348\1217443320.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gnr.mean()

              Runtime  IMDB_Rating    No_of_Votes         Gross  Metascore
Genre
Action     129.046512     7.949419  420246.581395  1.897224e+08  73.419580
Adventure  134.111111     7.937500  313557.819444  1.319017e+08  78.437500
Animation   99.585366     7.930488  268032.073171  1.784326e+08  81.093333
Biography  136.022727     7.938636  272805.045455  9.404952e+07  76.240506
Comedy     112.129032     7.901290  178195.658065  1.010572e+08  78.720000
Crime      126.392523     8.016822  313398.271028  7.899656e+07  77.080460
Drama      124.737024     7.957439  212343.612457  1.225259e+08  79.701245
Family     107.500000     7.800000  275610.500000  2.195553e+08  79.000000
Fantasy     85.000000     8.000000   73111.000000  3.913633e+08        NaN
Film-Noir  104.000000     7.966667  122405.000000  4.197018e+07  95.666667
Horror     102.090909     7.909091  340232.363636  9.405902e+07  80.000000
Mystery    119.083333     7.975000  350250.333333  1.047014e+08  79.125000
Thriller   108.000000     7.800000   27733.000000  1.755074e+07  81.000000
Western    148.250000     8.350000  322416.250000  1.455538e+07  78.250000

In [28]:
gnr["Metascore"].max().sort_values(ascending=False).head(3)

Genre
Adventure    100.0
Crime        100.0
Drama        100.0
Name: Metascore, dtype: float64

In [29]:
gnr.max()# to Be seen For NAN

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,YÃ´jinbÃ´,2019,321,9.0,Zack Snyder,Yun-Fat Chow,2303232,936662225.0,98.0
Adventure,Zombieland,PG,228,8.6,Ã–mer Faruk Sorak,Yves Montand,1512360,874211619.0,100.0
Animation,Ã”kami kodomo no Ame to Yuki,2020,137,8.6,Yoshifumi KondÃ´,YÃ´ji Matsuda,999790,873839108.0,96.0
Biography,Zerkalo,2020,209,8.9,Tom McCarthy,Ã‰ric Toledano,1213505,753585104.0,97.0
Comedy,Zindagi Na Milegi Dobara,2020,188,8.6,Zoya Akhtar,Ã–mer Faruk Sorak,939631,886752933.0,99.0
Crime,Ã€ bout de souffle,2019,229,9.2,Yavuz Turgul,Vincent Cassel,1826188,790482117.0,100.0
Drama,Zwartboek,2020,242,9.3,Ã‡agan Irmak,Ã‡etin Tekindor,2343110,924558264.0,100.0
Family,Willy Wonka & the Chocolate Factory,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Nosferatu,1922,94,8.1,Robert Wiene,Werner Krauss,88794,445151978.0,NaN
Film-Noir,The Third Man,1949,108,8.1,John Huston,Teresa Wright,158731,123353292.0,97.0
Horror,The Thing,2017,122,8.5,William Friedkin,Sigourney Weaver,787806,298791505.0,97.0
Mystery,Vertigo,2012,138,8.4,Terry Gilliam,Vidya Balan,1129894,474203697.0,100.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,165,8.8,Sergio Leone,Henry Fonda,688390,31800000.0,90.0

In [30]:
gnr.get_group("Fantasy")

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN

In [31]:
gnr["Gross"].sum().sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [32]:
gnr.sum()

C:\Users\pc\AppData\Local\Temp\ipykernel_15348\1481780013.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gnr.sum()

           Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action       22196       1367.3     72282412  3.263226e+10    10499.0
Adventure     9656        571.5     22576163  9.496922e+09     5020.0
Animation     8166        650.3     21978630  1.463147e+10     6082.0
Biography    11970        698.6     24006844  8.276358e+09     6023.0
Comedy       17380       1224.7     27620327  1.566387e+10     9840.0
Crime        13524        857.8     33533615  8.452632e+09     6706.0
Drama        36049       2299.7     61367304  3.540997e+10    19208.0
Family         215         15.6       551221  4.391106e+08      158.0
Fantasy        170         16.0       146222  7.827267e+08        0.0
Film-Noir      312         23.9       367215  1.259105e+08      287.0
Horror        1123         87.0      3742556  1.034649e+09      880.0
Mystery       1429         95.7      4203004  1.256417e+09      633.0
Thriller       108          7.8        27733  1.755074e+07       81.0
Western        593         33.4      1289665  5.822151e+07      313.0

In [33]:
gnr2 = dfmv.groupby(by=["Genre"],as_index=False)
gnr2

In [34]:
gnr2.count()

,Genre,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,Action,172,172,172,172,172,172,172,172,143
1,Adventure,72,72,72,72,72,72,72,72,64
2,Animation,82,82,82,82,82,82,82,82,75
3,Biography,88,88,88,88,88,88,88,88,79
4,Comedy,155,155,155,155,155,155,155,155,125
5,Crime,107,107,107,107,107,107,107,107,87
6,Drama,289,289,289,289,289,289,289,289,241
7,Family,2,2,2,2,2,2,2,2,2
8,Fantasy,2,2,2,2,2,2,2,2,0
9,Film-Noir,3,3,3,3,3,3,3,3,3
10,Horror,11,11,11,11,11,11,11,11,11
11,Mystery,12,12,12,12,12,12,12,12,8
12,Thriller,1,1,1,1,1,1,1,1,1
13,Western,4,4,4,4,4,4,4,4,4

In [48]:
gnr2.mean()

C:\Users\pc\AppData\Local\Temp\ipykernel_15348\2708226904.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gnr2.mean()

        Genre     Runtime  IMDB_Rating    No_of_Votes         Gross  Metascore
0      Action  129.046512     7.949419  420246.581395  1.897224e+08  73.419580
1   Adventure  134.111111     7.937500  313557.819444  1.319017e+08  78.437500
2   Animation   99.585366     7.930488  268032.073171  1.784326e+08  81.093333
3   Biography  136.022727     7.938636  272805.045455  9.404952e+07  76.240506
4      Comedy  112.129032     7.901290  178195.658065  1.010572e+08  78.720000
5       Crime  126.392523     8.016822  313398.271028  7.899656e+07  77.080460
6       Drama  124.737024     7.957439  212343.612457  1.225259e+08  79.701245
7      Family  107.500000     7.800000  275610.500000  2.195553e+08  79.000000
8     Fantasy   85.000000     8.000000   73111.000000  3.913633e+08        NaN
9   Film-Noir  104.000000     7.966667  122405.000000  4.197018e+07  95.666667
10     Horror  102.090909     7.909091  340232.363636  9.405902e+07  80.000000
11    Mystery  119.083333     7.975000  350250.333333  1.047014e+08  79.125000
12   Thriller  108.000000     7.800000   27733.000000  1.755074e+07  81.000000
13    Western  148.250000     8.350000  322416.250000  1.455538e+07  78.250000

In [35]:
gnr2.groups

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

In [36]:
gnr2.indices

{'Action': array([  2,   5,   8,  10,  13,  14,  16,  29,  30,  31,  39,  42,  44,
         55,  57,  59,  60,  63,  68,  72, 106, 109, 129, 130, 134, 140,
        142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194,
        201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320,
        325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357,
        362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482,
        488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570,
        573, 577, 582, 583, 602, 605, 608, 615, 623, 625, 627, 634, 641,
        642, 645, 648, 655, 659, 663, 666, 674, 677, 678, 685, 696, 702,
        705, 709, 710, 718, 722, 725, 730, 737, 746, 749, 751, 768, 774,
        776, 777, 782, 784, 807, 821, 832, 839, 840, 847, 850, 852, 853,
        854, 856, 861, 865, 887, 888, 889, 893, 896, 898, 900, 901, 908,
        909, 914, 918, 924, 927, 928, 930, 931, 944, 951, 963, 968, 979,
        982, 983, 985], dtype=int64),
 'Adventure': array([ 21,  47,  93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209,
        226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361,
        366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514,
        537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681,
        686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912,
        919, 947, 957, 964, 966, 984, 991], dtype=int64),
 'Animation': array([ 23,  43,  46,  56,  58,  61,  66,  70, 101, 135, 146, 151, 158,
        170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330,
        332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469,
        499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640,
        643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771,
        783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956,
        971, 976, 986, 992], dtype=int64),
 'Biography': array([  7,  15,  18,  35,  38,  54, 102, 107, 131, 139, 147, 157, 159,
        173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298,
        317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416,
        418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606,
        614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748,
        753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858,
        877, 882, 897, 910, 915, 923, 940, 949, 952, 987], dtype=int64),
 'Comedy': array([ 19,  26,  51,  52,  64,  78,  83,  95,  96, 112, 117, 120, 127,
        128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238,
        240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318,
        322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435,
        445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481,
        490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541,
        547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626,
        630, 660, 662, 667, 679, 680, 683, 687, 701, 704, 715, 717, 726,
        727, 732, 733, 743, 750, 752, 754, 760, 780, 786, 789, 794, 800,
        801, 803, 805, 806, 808, 814, 816, 817, 819, 826, 830, 835, 836,
        837, 842, 846, 848, 855, 869, 870, 871, 879, 907, 935, 937, 945,
        953, 967, 969, 970, 972, 973, 975, 977, 978, 989, 994, 995],
       dtype=int64),
 'Crime': array([  1,   3,   4,   6,  22,  25,  27,  28,  33,  37,  41,  71,  77,
         79,  86,  87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163,
        164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287,
        288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442,
        444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523,
        527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664,
        669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811,
        823, 827, 833, 885, 895, 921, 922, 926, 938, 939, 954, 958, 960,
        974, 980, 999], dtype=int64),
 'Drama': array([  0,   9,  11,  17,  20,  24,  32,  34,  36,  40,  45,  50,  53,
         62,  65,  67,  73,  74,  76,  80,  82,  84,  85,  88,  89,  90,
         91,  92,  94,  97,  98,  99, 100, 104, 105, 121, 122, 124, 126,
        138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184,
        185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234,
        237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269,
        272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295,
        296, 297, 302, 303, 307, 310, 312, 314, 315, 319, 324, 333, 334,
        336, 341, 344, 347, 349, 350, 352, 354, 355, 370, 371, 382, 383,
        387, 388, 391, 398, 400, 404, 407, 408, 412, 421, 422, 423, 425,
        428, 430, 432, 433, 434, 439, 440, 443, 447, 448, 452, 453, 454,
        457, 461, 462, 467, 468, 476, 478, 483, 486, 489, 491, 492, 495,
        501, 504, 508, 515, 517, 521, 524, 529, 534, 548, 550, 551, 554,
        555, 559, 561, 567, 571, 572, 580, 581, 585, 588, 589, 590, 601,
        610, 612, 616, 617, 619, 620, 624, 628, 629, 631, 636, 637, 646,
        652, 654, 656, 658, 661, 668, 670, 682, 689, 690, 693, 697, 699,
        703, 706, 716, 719, 720, 721, 731, 734, 735, 736, 738, 742, 745,
        747, 764, 765, 769, 772, 773, 778, 785, 787, 788, 790, 792, 793,
        804, 812, 813, 818, 824, 825, 834, 838, 841, 845, 857, 859, 860,
        862, 863, 864, 866, 867, 868, 872, 874, 878, 880, 881, 883, 886,
        890, 894, 903, 904, 905, 911, 913, 916, 917, 925, 929, 933, 934,
        936, 941, 942, 943, 946, 950, 955, 962, 965, 981, 988, 990, 993,
        996, 997, 998], dtype=int64),
 'Family': array([688, 698], dtype=int64),
 'Fantasy': array([321, 568], dtype=int64),
 'Film-Noir': array([309, 456, 712], dtype=int64),
 'Horror': array([ 49,  75, 271, 419, 544, 707, 724, 844, 876, 932, 948], dtype=int64),
 'Mystery': array([ 69,  81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961],
       dtype=int64),
 'Thriller': array([700], dtype=int64),
 'Western': array([ 12,  48, 115, 691], dtype=int64)}

In [37]:
lst2 = []
for gpnm,gpdf in gnr2:
    lst2.append(gpdf)
    
a = lst2[0]
a

C:\Users\pc\AppData\Local\Temp\ipykernel_15348\3455408561.py:2: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for gpnm,gpdf in gnr2:

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
5,The Lord of the Rings: The Return of the King,2003,201,Action,8.9,Peter Jackson,Elijah Wood,1642758,377845905.0,94.0
8,Inception,2010,148,Action,8.8,Christopher Nolan,Leonardo DiCaprio,2067042,292576195.0,74.0
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,Peter Jackson,Elijah Wood,1661481,315544750.0,92.0
13,The Lord of the Rings: The Two Towers,2002,179,Action,8.7,Peter Jackson,Elijah Wood,1485555,342551365.0,87.0
...,...,...,...,...,...,...,...,...,...,...
968,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
979,Lethal Weapon,1987,109,Action,7.6,Richard Donner,Mel Gibson,236894,65207127.0,68.0
982,Mad Max 2,1981,96,Action,7.6,George Miller,Mel Gibson,166588,12465371.0,77.0
983,The Warriors,1979,92,Action,7.6,Walter Hill,Michael Beck,93878,22490039.0,65.0
985,Escape from Alcatraz,1979,112,Action,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0

In [49]:
gnr

In [50]:
lst[0]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
5,The Lord of the Rings: The Return of the King,2003,201,Action,8.9,Peter Jackson,Elijah Wood,1642758,377845905.0,94.0
8,Inception,2010,148,Action,8.8,Christopher Nolan,Leonardo DiCaprio,2067042,292576195.0,74.0
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,Peter Jackson,Elijah Wood,1661481,315544750.0,92.0
13,The Lord of the Rings: The Two Towers,2002,179,Action,8.7,Peter Jackson,Elijah Wood,1485555,342551365.0,87.0
...,...,...,...,...,...,...,...,...,...,...
968,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
979,Lethal Weapon,1987,109,Action,7.6,Richard Donner,Mel Gibson,236894,65207127.0,68.0
982,Mad Max 2,1981,96,Action,7.6,George Miller,Mel Gibson,166588,12465371.0,77.0
983,The Warriors,1979,92,Action,7.6,Walter Hill,Michael Beck,93878,22490039.0,65.0
985,Escape from Alcatraz,1979,112,Action,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0

In [52]:
gnr3 = dfmv.groupby(by=["Genre"],sort=False)
gnr3

In [53]:
gnr3.groups

{'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Western': [12, 48, 115, 691], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Film-Noir': [309, 456, 712], 'Fantasy': [321, 568], 'Family': [688, 698], 'Thriller': [700]}

In [56]:
gnr3.get_group("Action")

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
5,The Lord of the Rings: The Return of the King,2003,201,Action,8.9,Peter Jackson,Elijah Wood,1642758,377845905.0,94.0
8,Inception,2010,148,Action,8.8,Christopher Nolan,Leonardo DiCaprio,2067042,292576195.0,74.0
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,Peter Jackson,Elijah Wood,1661481,315544750.0,92.0
13,The Lord of the Rings: The Two Towers,2002,179,Action,8.7,Peter Jackson,Elijah Wood,1485555,342551365.0,87.0
...,...,...,...,...,...,...,...,...,...,...
968,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
979,Lethal Weapon,1987,109,Action,7.6,Richard Donner,Mel Gibson,236894,65207127.0,68.0
982,Mad Max 2,1981,96,Action,7.6,George Miller,Mel Gibson,166588,12465371.0,77.0
983,The Warriors,1979,92,Action,7.6,Walter Hill,Michael Beck,93878,22490039.0,65.0
985,Escape from Alcatraz,1979,112,Action,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0

In [57]:
gnr.cumcount()

0        0
1        0
2        0
3        1
4        2
      ...
995    154
996    286
997    287
998    288
999    106
Length: 1000, dtype: int64

In [58]:
gnr

In [59]:
gnr.count()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,172,172,172,172,172,172,172,143
Adventure,72,72,72,72,72,72,72,72,64
Animation,82,82,82,82,82,82,82,82,75
Biography,88,88,88,88,88,88,88,88,79
Comedy,155,155,155,155,155,155,155,155,125
Crime,107,107,107,107,107,107,107,107,87
Drama,289,289,289,289,289,289,289,289,241
Family,2,2,2,2,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,11,11,11,11,11,11,11
Mystery,12,12,12,12,12,12,12,12,8
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,4,4,4,4,4

In [60]:
gnr.cumcount()

0        0
1        0
2        0
3        1
4        2
      ...
995    154
996    286
997    287
998    288
999    106
Length: 1000, dtype: int64

In [62]:
dfmv1 = dfmv.copy()

In [65]:
dfmv1["Rank"] = gnr.cumcount()

In [66]:
dfmv1

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore,Rank
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0,0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0,0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0,0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0,1
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0,2
...,...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0,154
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0,286
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0,287
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0,288
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0,106

In [67]:
fggp = dfmv1.groupby(by=["Genre"])

In [68]:
fggp

In [70]:
fggp.get_group("Action").iloc[100:150]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore,Rank
625,Apocalypto,2006,139,Action,7.8,Mel Gibson,Gerardo Taracena,291018,50866635.0,68.0,100
627,Hot Fuzz,2007,121,Action,7.8,Edgar Wright,Simon Pegg,463466,23637265.0,81.0,101
634,Serenity,2005,119,Action,7.8,Joss Whedon,Nathan Fillion,283310,25514517.0,74.0,102
641,Gongdong gyeongbi guyeok JSA,2000,110,Action,7.8,Chan-wook Park,Lee Yeong-ae,26518,147161249.0,58.0,103
642,The Count of Monte Cristo,2002,131,Action,7.8,Kevin Reynolds,Jim Caviezel,129022,54234062.0,61.0,104
645,Wo hu cang long,2000,120,Action,7.8,Ang Lee,Yun-Fat Chow,253228,128078872.0,94.0,105
648,The Boondock Saints,1999,108,Action,7.8,Troy Duffy,Willem Dafoe,227143,25812.0,44.0,106
655,The Game,1997,129,Action,7.8,David Fincher,Michael Douglas,345096,48323648.0,61.0,107
659,Tombstone,1993,130,Action,7.8,George P. Cosmatos,Kevin Jarre,126871,56505065.0,50.0,108
663,The Fugitive,1993,130,Action,7.8,Andrew Davis,Harrison Ford,267684,183875760.0,87.0,109
666,Lat sau san taam,1992,128,Action,7.8,John Woo,Yun-Fat Chow,46700,565451439.0,NaN,110
674,Dip huet seung hung,1989,111,Action,7.8,John Woo,Yun-Fat Chow,45624,549325150.0,82.0,111
677,Predator,1987,107,Action,7.8,John McTiernan,Arnold Schwarzenegger,371387,59735548.0,45.0,112
678,Evil Dead II,1987,84,Action,7.8,Sam Raimi,Bruce Campbell,148359,5923044.0,72.0,113
685,Ghostbusters,1984,105,Action,7.8,Ivan Reitman,Bill Murray,355413,238632124.0,71.0,114
696,Badlands,1973,94,Action,7.8,Terrence Malick,Martin Sheen,66009,88117434.0,93.0,115
702,Bonnie and Clyde,1967,111,Action,7.8,Arthur Penn,Warren Beatty,102415,909838190.0,86.0,116
705,The Longest Day,1962,178,Action,7.8,Ken Annakin,Andrew Marton,52141,39100000.0,75.0,117
709,Red River,1948,133,Action,7.8,Howard Hawks,Arthur Rosson,28167,116161549.0,NaN,118
710,Key Largo,1948,100,Action,7.8,John Huston,Humphrey Bogart,36995,55936517.0,NaN,119
718,Scarface: The Shame of the Nation,1932,93,Action,7.8,Howard Hawks,Richard Rosson,25312,82900837.0,87.0,120
722,Deadpool 2,2018,119,Action,7.7,David Leitch,Ryan Reynolds,478586,324591735.0,66.0,121
725,Mission: Impossible - Fallout,2018,147,Action,7.7,Christopher McQuarrie,Tom Cruise,291257,220159104.0,86.0,122
730,Kingsman: The Secret Service,2014,129,Action,7.7,Matthew Vaughn,Colin Firth,590440,128261724.0,60.0,123
737,Captain America: The Winter Soldier,2014,136,Action,7.7,Anthony Russo,Joe Russo,736182,259766572.0,70.0,124
746,Star Trek Into Darkness,2013,132,Action,7.7,J.J. Abrams,Chris Pine,463188,228778661.0,72.0,125
749,X: First Class,2011,131,Action,7.7,Matthew Vaughn,James McAvoy,645512,146408305.0,65.0,126
751,Skyfall,2012,143,Action,7.7,Sam Mendes,Daniel Craig,630614,304360277.0,81.0,127
768,Lucky Number Slevin,2006,110,Action,7.7,Paul McGuigan,Josh Hartnett,299524,22494487.0,53.0,128
774,3:10 to Yuma,2007,122,Action,7.7,James Mangold,Russell Crowe,288797,53606916.0,76.0,129
776,Kung fu,2004,99,Action,7.7,Stephen Chow,Stephen Chow,127250,17108591.0,78.0,130
777,The Bourne Supremacy,2004,108,Action,7.7,Paul Greengrass,Matt Damon,434841,176241941.0,73.0,131
782,Man on Fire,2004,146,Action,7.7,Tony Scott,Denzel Washington,329592,77911774.0,47.0,132
784,The Last Samurai,2003,154,Action,7.7,Edward Zwick,Tom Cruise,400049,111110575.0,55.0,133
807,The Fifth Element,1997,126,Action,7.7,Luc Besson,Bruce Willis,434125,63540020.0,52.0,134
821,The Last of the Mohicans,1992,112,Action,7.7,Michael Mann,Daniel Day-Lewis,150409,75505856.0,76.0,135
832,Empire of the Sun,1987,153,Action,7.7,Steven Spielberg,Christian Bale,115677,22238696.0,62.0,136
839,Star Trek II: The Wrath of Khan,1982,113,Action,7.7,Nicholas Meyer,William Shatner,112704,78912963.0,67.0,137
840,First Blood,1982,93,Action,7.7,Ted Kotcheff,Sylvester Stallone,226541,47212904.0,61.0,138
847,The Taking of Pelham One Two Three,1974,104,Action,7.7,Joseph Sargent,Walter Matthau,26729,660264543.0,68.0,139
850,Enter the Dragon,1973,102,Action,7.7,Robert Clouse,Bruce Lee,96561,25000000.0,83.0,140
852,The French Connection,1971,104,Action,7.7,William Friedkin,Gene Hackman,110075,15630710.0,94.0,141
853,Dirty Harry,1971,102,Action,7.7,Don Siegel,Clint Eastwood,143292,35900000.0,90.0,142
854,Where Eagles Dare,1968,158,Action,7.7,Brian G. Hutton,Richard Burton,51913,856773674.0,63.0,143
856,The Dirty Dozen,1967,150,Action,7.7,Robert Aldrich,Lee Marvin,67183,45300000.0,73.0,144
861,Goldfinger,1964,110,Action,7.7,Guy Hamilton,Sean Connery,174119,51081062.0,87.0,145
865,The Magnificent Seven,1960,128,Action,7.7,John Sturges,Yul Brynner,87719,4905000.0,74.0,146
887,Guardians of the Galaxy Vol. 2,2017,136,Action,7.6,James Gunn,Chris Pratt,569974,389813101.0,67.0,147
888,Baby Driver,2017,113,Action,7.6,Edgar Wright,Ansel Elgort,439406,107825862.0,86.0,148
889,Only the Brave,2017,134,Action,7.6,Joseph Kosinski,Josh Brolin,58371,18340051.0,72.0,149

In [74]:
gnr

In [76]:
pd.set_option('display.max_columns', None)

In [78]:
gnr.agg(["count","nunique"])

          Series_Title         Released_Year         Runtime          \
                 count nunique         count nunique   count nunique
Genre
Action             172     172           172      61     172      78
Adventure           72      72            72      49      72      58
Animation           82      82            82      35      82      41
Biography           88      88            88      44      88      56
Comedy             155     155           155      72     155      70
Crime              107     106           107      56     107      65
Drama              289     289           289      83     289      95
Family               2       2             2       2       2       2
Fantasy              2       2             2       2       2       2
Film-Noir            3       3             3       3       3       3
Horror              11      11            11      11      11      10
Mystery             12      12            12      11      12      10
Thriller             1       1             1       1       1       1
Western              4       4             4       4       4       4

          IMDB_Rating         Director         Star1         No_of_Votes  \
                count nunique    count nunique count nunique       count
Genre
Action            172      15      172     123   172     121         172
Adventure          72      10       72      59    72      59          72
Animation          82      11       82      51    82      77          82
Biography          88      13       88      76    88      72          88
Comedy            155      11      155     113   155     133         155
Crime             107      14      107      86   107      85         107
Drama             289      14      289     211   289     250         289
Family              2       1        2       2     2       2           2
Fantasy             2       2        2       2     2       2           2
Film-Noir           3       3        3       3     3       3           3
Horror             11       8       11      10    11      11          11
Mystery            12       8       12      10    12      11          12
Thriller            1       1        1       1     1       1           1
Western             4       4        4       2     4       2           4

                  Gross         Metascore
          nunique count nunique     count nunique
Genre
Action        172   172     172       143      50
Adventure      72    72      72        64      33
Animation      82    82      82        75      29
Biography      88    88      88        79      40
Comedy        155   155     155       125      44
Crime         107   107     107        87      39
Drama         288   289     287       241      52
Family          2     2       2         2       2
Fantasy         2     2       2         0       0
Film-Noir       3     3       3         3       3
Horror         11    11      11        11       9
Mystery        12    12      12         8       7
Thriller        1     1       1         1       1
Western         4     4       4         4       4

In [80]:
gnr["Metascore"].idxmax()

Genre
Action        31.0
Adventure    116.0
Animation     23.0
Biography    525.0
Comedy        52.0
Crime          1.0
Drama         50.0
Family       688.0
Fantasy        NaN
Film-Noir    309.0
Horror        49.0
Mystery       81.0
Thriller     700.0
Western       12.0
Name: Metascore, dtype: float64

In [81]:
gnr.get_group("Action").loc[31]

Series_Title     Shichinin no samurai
Released_Year                    1954
Runtime                           207
Genre                          Action
IMDB_Rating                       8.6
Director               Akira Kurosawa
Star1                  ToshirÃ´ Mifune
No_of_Votes                    315744
Gross                        269061.0
Metascore                        98.0
Name: 31, dtype: object

In [83]:
gnr["Metascore"].max()

Genre
Action        98.0
Adventure    100.0
Animation     96.0
Biography     97.0
Comedy        99.0
Crime        100.0
Drama        100.0
Family        91.0
Fantasy        NaN
Film-Noir     97.0
Horror        97.0
Mystery      100.0
Thriller      81.0
Western       90.0
Name: Metascore, dtype: float64