In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
data = {
    'name': ['Utkarsh', 'Vinayak', 'Khushi', 'Mayank', 'Aman', 'Rahul', 'Aayush'],
    'city': ['Lucknow', 'Pune', 'DELHi', 'KolKATa','kanpur', 'MUMBIA', 'banglore'],
    'age':  [25 ,24 ,19 ,17 ,23 ,30 ,22],
    'py-score': [90.4, 89.3, 71.3, 60.9, 58.6, 71.4, 84.6],
    'jv-score': ["85.1","80.7","80.7","55.6","61.6","76.9","88.9"],
    'en-score': ["67","67",65,66,57.9,50.1,65.7]
}

index = range(101, 108)
df = pd.DataFrame(data,index)

# Reading and Writing csv Files

In [16]:
df

        name      city  age  py-score jv-score en-score
101  Utkarsh   Lucknow   25      90.4     85.1       67
102  Vinayak      Pune   24      89.3     80.7       67
103   Khushi     DELHi   19      71.3     80.7       65
104   Mayank   KolKATa   17      60.9     55.6       66
105     Aman    kanpur   23      58.6     61.6     57.9
106    Rahul    MUMBIA   30      71.4     76.9     50.1
107   Aayush  banglore   22      84.6     88.9     65.7

In [17]:
df.to_csv()

',name,city,age,py-score,jv-score,en-score\r\n101,Utkarsh,Lucknow,25,90.4,85.1,67\r\n102,Vinayak,Pune,24,89.3,80.7,67\r\n103,Khushi,DELHi,19,71.3,80.7,65\r\n104,Mayank,KolKATa,17,60.9,55.6,66\r\n105,Aman,kanpur,23,58.6,61.6,57.9\r\n106,Rahul,MUMBIA,30,71.4,76.9,50.1\r\n107,Aayush,banglore,22,84.6,88.9,65.7\r\n'

In [18]:
df.to_csv(header=False)

'101,Utkarsh,Lucknow,25,90.4,85.1,67\r\n102,Vinayak,Pune,24,89.3,80.7,67\r\n103,Khushi,DELHi,19,71.3,80.7,65\r\n104,Mayank,KolKATa,17,60.9,55.6,66\r\n105,Aman,kanpur,23,58.6,61.6,57.9\r\n106,Rahul,MUMBIA,30,71.4,76.9,50.1\r\n107,Aayush,banglore,22,84.6,88.9,65.7\r\n'

In [19]:
df.to_csv(header=False,index=False)

'Utkarsh,Lucknow,25,90.4,85.1,67\r\nVinayak,Pune,24,89.3,80.7,67\r\nKhushi,DELHi,19,71.3,80.7,65\r\nMayank,KolKATa,17,60.9,55.6,66\r\nAman,kanpur,23,58.6,61.6,57.9\r\nRahul,MUMBIA,30,71.4,76.9,50.1\r\nAayush,banglore,22,84.6,88.9,65.7\r\n'

In [20]:
df.to_csv("abc.csv")

In [24]:
df.to_csv("abc.csv")

In [22]:
df.to_csv("abc.csv",header=False,index=False)

In [23]:
df.to_csv("abc.csv",columns=["name","py-score","jv-score","en-score"])

In [25]:
df.to_csv("abc.csv",index_label=[101,102,107])

In [26]:
df.to_csv("abc.csv",index_label="index")

In [27]:
df.to_csv("abc.svs")

In [28]:
df.to_csv("abc.csv",columns=["name","py-score","jv-score","en-score","llll"])

KeyError: "['llll'] not in index"

In [29]:
df.to_csv("abc.csv",sep=";")

In [31]:
df.to_csv("abc.csv",sep=";;;")

TypeError: "delimiter" must be a 1-character string

In [32]:
data1 = {
    'name': ['Utkarsh', np.NaN, 'Khushi', 'Mayank', 'Aman', 'Rahul', 'Aayush'],
    'city': ['Lucknow', 'Pune', 'DELHi', 'KolKATa','kanpur', np.NaN, 'banglore'],
    'age':  [25 ,24 ,19 ,17 ,23 ,30 ,np.NaN],
    'py-score': [90.4, 89.3, 71.3, 60.9, 58.6, 71.4, 84.6],
    'jv-score': [np.NaN,"80.7","80.7","55.6","61.6","76.9","88.9"],
    'en-score': ["67",np.NaN,65,66,57.9,50.1,65.7]
}

index1 = range(101, 108)
df1 = pd.DataFrame(data1,index1)

In [33]:
df1

        name      city   age  py-score jv-score en-score
101  Utkarsh   Lucknow  25.0      90.4      NaN       67
102      NaN      Pune  24.0      89.3     80.7      NaN
103   Khushi     DELHi  19.0      71.3     80.7       65
104   Mayank   KolKATa  17.0      60.9     55.6       66
105     Aman    kanpur  23.0      58.6     61.6     57.9
106    Rahul       NaN  30.0      71.4     76.9     50.1
107   Aayush  banglore   NaN      84.6     88.9     65.7

In [34]:
df1.to_csv("nabc.csv")

In [35]:
df1.to_csv("nabc.csv",na_rep=-999)

In [36]:
df["qoutes"] = ["I am \"gft\"","I am \"gft1\"","I am \"gft2\"","I am \"gft3\"","I am \"gft4\"","I am \"gft5\"","I am \"gft6\""]

In [37]:
df

        name      city  age  py-score jv-score en-score       qoutes
101  Utkarsh   Lucknow   25      90.4     85.1       67   I am "gft"
102  Vinayak      Pune   24      89.3     80.7       67  I am "gft1"
103   Khushi     DELHi   19      71.3     80.7       65  I am "gft2"
104   Mayank   KolKATa   17      60.9     55.6       66  I am "gft3"
105     Aman    kanpur   23      58.6     61.6     57.9  I am "gft4"
106    Rahul    MUMBIA   30      71.4     76.9     50.1  I am "gft5"
107   Aayush  banglore   22      84.6     88.9     65.7  I am "gft6"

In [38]:
df.to_csv("abc.csv")

In [39]:
df2 = pd.read_csv("abc.csv")

In [40]:
df2

,Unnamed: 0,name,city,age,py-score,jv-score,en-score,qoutes
0,101,Utkarsh,Lucknow,25,90.4,85.1,67.0,"I am ""gft"""
1,102,Vinayak,Pune,24,89.3,80.7,67.0,"I am ""gft1"""
2,103,Khushi,DELHi,19,71.3,80.7,65.0,"I am ""gft2"""
3,104,Mayank,KolKATa,17,60.9,55.6,66.0,"I am ""gft3"""
4,105,Aman,kanpur,23,58.6,61.6,57.9,"I am ""gft4"""
5,106,Rahul,MUMBIA,30,71.4,76.9,50.1,"I am ""gft5"""
6,107,Aayush,banglore,22,84.6,88.9,65.7,"I am ""gft6"""

In [41]:
df["qoutes"] = ["I am \"g,ft\"","I am \"g,ft1\"","I am \"g,ft2\"","I am \"g,ft3\"","I am \"g,ft4\"","I am \"g,ft5\"","I am \"g,ft6\""]

In [42]:
df

        name      city  age  py-score jv-score en-score        qoutes
101  Utkarsh   Lucknow   25      90.4     85.1       67   I am "g,ft"
102  Vinayak      Pune   24      89.3     80.7       67  I am "g,ft1"
103   Khushi     DELHi   19      71.3     80.7       65  I am "g,ft2"
104   Mayank   KolKATa   17      60.9     55.6       66  I am "g,ft3"
105     Aman    kanpur   23      58.6     61.6     57.9  I am "g,ft4"
106    Rahul    MUMBIA   30      71.4     76.9     50.1  I am "g,ft5"
107   Aayush  banglore   22      84.6     88.9     65.7  I am "g,ft6"

In [43]:
df.to_csv("abc.csv")

In [44]:
df4 =pd.read_csv("abc.csv")

In [45]:
df4

,Unnamed: 0,name,city,age,py-score,jv-score,en-score,qoutes
0,101,Utkarsh,Lucknow,25,90.4,85.1,67.0,"I am ""g,ft"""
1,102,Vinayak,Pune,24,89.3,80.7,67.0,"I am ""g,ft1"""
2,103,Khushi,DELHi,19,71.3,80.7,65.0,"I am ""g,ft2"""
3,104,Mayank,KolKATa,17,60.9,55.6,66.0,"I am ""g,ft3"""
4,105,Aman,kanpur,23,58.6,61.6,57.9,"I am ""g,ft4"""
5,106,Rahul,MUMBIA,30,71.4,76.9,50.1,"I am ""g,ft5"""
6,107,Aayush,banglore,22,84.6,88.9,65.7,"I am ""g,ft6"""

In [51]:
df.apply(lambda p:p)

        name     city   age  py-score jv-score en-score
101  Utkarsh  Lucknow  25.0      90.4      NaN       67
102      NaN     Pune  24.0      89.3     80.7      NaN
103      NaN    DELHi  19.0      71.3     80.7       65
104      NaN  KolKATa  17.0      60.9     55.6       66
105     Aman   kanpur  23.0      58.6     61.6     57.9
106    Rahul   MUMBIA  30.0      71.4     76.9     50.1
107   Aayush      NaN   NaN       NaN     88.9     65.7

In [52]:
df.apply?

In [54]:
s1.mean?

# Group by

In [39]:
import pandas as pd
import numpy as np

In [41]:
df1 = pd.read_csv(r"D:\Machine Learning\Sample Project1\Notes Notebooks\Working_Data\matches.csv")

In [85]:
df1.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [47]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [56]:
seasons = df1.groupby("season")
seasons

In [67]:
fg1 = seasons.size()
fg1

season
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
2017    59
dtype: int64

In [69]:
fg2 = seasons.size().sort_values(ascending=False)
fg2

season
2013    76
2012    74
2011    73
2010    60
2014    60
2016    60
2015    59
2017    59
2008    58
2009    57
dtype: int64

In [82]:
seasons.groups

{2008: [59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116], 2009: [117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173], 2010: [174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233], 2011: [234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306], 2012: [307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380], 2013: [381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456], 2014: [457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516], 2015: [517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575], 2016: [576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635], 2017: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58]}

In [87]:
df2008 = seasons.get_group(2008)

In [94]:
winners2008 = df2008.groupby('winner')

In [96]:
winners2008.get_group('Royal Challengers Bangalore')

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
62,63,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
79,80,2008,Hyderabad,2008-05-25,Deccan Chargers,Royal Challengers Bangalore,Deccan Chargers,bat,normal,0,Royal Challengers Bangalore,0,5,R Vinay Kumar,"Rajiv Gandhi International Stadium, Uppal",Asad Rauf,RE Koertzen,NaN
106,107,2008,Chennai,2008-05-21,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,14,0,A Kumble,"MA Chidambaram Stadium, Chepauk",DJ Harper,I Shivram,NaN
110,111,2008,Bangalore,2008-05-03,Royal Challengers Bangalore,Deccan Chargers,Deccan Chargers,field,normal,0,Royal Challengers Bangalore,3,0,P Kumar,M Chinnaswamy Stadium,BR Doctrove,SL Shastri,NaN

In [97]:
seasons.sum()

C:\Users\pc\AppData\Local\Temp\ipykernel_10876\3476092050.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  seasons.sum()

           id  dl_applied  win_by_runs  win_by_wickets  umpire3
season
2008     5133           2          705             221      0.0
2009     8322           3          764             180      0.0
2010    12270           0          976             190      0.0
2011    19783           3         1098             265      0.0
2012    25493           0          960             241      0.0
2013    31882           0         1241             227      0.0
2014    29250           1          644             225      0.0
2015    32273           2          850             148      0.0
2016    36390           4          676             244      0.0
2017     1770           1          788             204      0.0

In [98]:
seasons.min()

C:\Users\pc\AppData\Local\Temp\ipykernel_10876\3103550631.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  seasons.min()

,id,date,team1,team2,toss_winner,toss_decision,result,dl_applied,win_by_runs,win_by_wickets,venue,umpire3
season,,,,,,,,,,,,
2008,60,2008-04-18,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,bat,normal,0,0,0,Dr DY Patil Sports Academy,NaN
2009,118,2009-04-18,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,bat,normal,0,0,0,Buffalo Park,NaN
2010,175,2010-03-12,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,bat,normal,0,0,0,Barabati Stadium,NaN
2011,235,2011-04-08,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,bat,no result,0,0,0,Dr DY Patil Sports Academy,NaN
2012,308,2012-04-04,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,bat,normal,0,0,0,Barabati Stadium,NaN
2013,382,2013-04-03,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,bat,normal,0,0,0,Eden Gardens,NaN
2014,458,2014-04-16,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,bat,normal,0,0,0,Barabati Stadium,NaN
2015,518,2015-04-08,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,bat,no result,0,0,0,Brabourne Stadium,NaN
2016,577,2016-04-09,Delhi Daredevils,Delhi Daredevils,Delhi Daredevils,bat,normal,0,0,0,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,NaN
2017,1,2017-04-05,Delhi Daredevils,Delhi Daredevils,Delhi Daredevils,bat,normal,0,0,0,Eden Gardens,NaN

In [99]:
df1

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [100]:
winners = df1.groupby(by=["winner","season"])

In [116]:
itwin = iter(winners)
group,df = next(itwin)
df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
60,61,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
66,67,2008,Chennai,2008-04-23,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Chennai Super Kings,6,0,ML Hayden,"MA Chidambaram Stadium, Chepauk",DJ Harper,GA Pratapkumar,NaN
70,71,2008,Chennai,2008-04-26,Kolkata Knight Riders,Chennai Super Kings,Kolkata Knight Riders,bat,normal,0,Chennai Super Kings,0,9,JDP Oram,"MA Chidambaram Stadium, Chepauk",BF Bowden,AV Jayaprakash,NaN
73,74,2008,Bangalore,2008-04-28,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,normal,0,Chennai Super Kings,13,0,MS Dhoni,M Chinnaswamy Stadium,BR Doctrove,RB Tiffin,NaN
86,87,2008,Delhi,2008-05-08,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,4,MS Dhoni,Feroz Shah Kotla,Aleem Dar,RB Tiffin,NaN
90,91,2008,Chennai,2008-05-10,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,field,normal,0,Chennai Super Kings,18,0,L Balaji,"MA Chidambaram Stadium, Chepauk",AV Jayaprakash,BG Jerling,NaN
102,103,2008,Kolkata,2008-05-18,Kolkata Knight Riders,Chennai Super Kings,Kolkata Knight Riders,bat,normal,1,Chennai Super Kings,3,0,M Ntini,Eden Gardens,Asad Rauf,K Hariharan,NaN
113,114,2008,Hyderabad,2008-05-27,Deccan Chargers,Chennai Super Kings,Deccan Chargers,bat,normal,0,Chennai Super Kings,0,7,SK Raina,"Rajiv Gandhi International Stadium, Uppal",BG Jerling,AM Saheba,NaN
115,116,2008,Mumbai,2008-05-31,Kings XI Punjab,Chennai Super Kings,Kings XI Punjab,bat,normal,0,Chennai Super Kings,0,9,M Ntini,Wankhede Stadium,Asad Rauf,DJ Harper,NaN

In [130]:
group,df = next(itwin)
df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
119,120,2009,Cape Town,2009-04-19,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,1,Delhi Daredevils,0,10,DL Vettori,Newlands,MR Benson,SD Ranade,NaN
124,125,2009,Durban,2009-04-23,Delhi Daredevils,Chennai Super Kings,Delhi Daredevils,bat,normal,0,Delhi Daredevils,9,0,AB de Villiers,Kingsmead,BR Doctrove,SJA Taufel,NaN
128,129,2009,Port Elizabeth,2009-04-26,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Delhi Daredevils,0,6,TM Dilshan,St George's Park,S Asnani,BG Jerling,NaN
135,136,2009,Centurion,2009-04-30,Deccan Chargers,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,6,DP Nannes,SuperSport Park,GAV Baxter,AM Saheba,NaN
145,146,2009,Durban,2009-05-05,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0,Delhi Daredevils,0,9,G Gambhir,Kingsmead,GAV Baxter,IL Howell,NaN
149,150,2009,East London,2009-05-08,Mumbai Indians,Delhi Daredevils,Mumbai Indians,bat,normal,0,Delhi Daredevils,0,7,A Nehra,Buffalo Park,M Erasmus,SK Tarapore,NaN
153,154,2009,Johannesburg,2009-05-10,Kolkata Knight Riders,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,7,A Mishra,New Wanderers Stadium,SL Shastri,RB Tiffin,NaN
157,158,2009,Durban,2009-05-13,Delhi Daredevils,Deccan Chargers,Deccan Chargers,field,normal,0,Delhi Daredevils,12,0,R Bhatia,Kingsmead,DJ Harper,SL Shastri,NaN
164,165,2009,Bloemfontein,2009-05-17,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Delhi Daredevils,14,0,AB de Villiers,OUTsurance Oval,SS Hazare,IL Howell,NaN
169,170,2009,Centurion,2009-05-21,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,4,V Sehwag,SuperSport Park,IL Howell,S Ravi,NaN

In [133]:
winners

In [134]:
seasons

In [137]:
seasons.get_group(2008)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
59,60,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
60,61,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
61,62,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
62,63,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
63,64,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN
64,65,2008,Jaipur,2008-04-21,Kings XI Punjab,Rajasthan Royals,Kings XI Punjab,bat,normal,0,Rajasthan Royals,0,6,SR Watson,Sawai Mansingh Stadium,Aleem Dar,RB Tiffin,NaN
65,66,2008,Hyderabad,2008-04-22,Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,normal,0,Delhi Daredevils,0,9,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",IL Howell,AM Saheba,NaN
66,67,2008,Chennai,2008-04-23,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Chennai Super Kings,6,0,ML Hayden,"MA Chidambaram Stadium, Chepauk",DJ Harper,GA Pratapkumar,NaN
67,68,2008,Hyderabad,2008-04-24,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",Asad Rauf,MR Benson,NaN
68,69,2008,Chandigarh,2008-04-25,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Kings XI Punjab,66,0,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",Aleem Dar,AM Saheba,NaN
69,70,2008,Bangalore,2008-04-26,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,SR Watson,M Chinnaswamy Stadium,MR Benson,IL Howell,NaN
70,71,2008,Chennai,2008-04-26,Kolkata Knight Riders,Chennai Super Kings,Kolkata Knight Riders,bat,normal,0,Chennai Super Kings,0,9,JDP Oram,"MA Chidambaram Stadium, Chepauk",BF Bowden,AV Jayaprakash,NaN
71,72,2008,Mumbai,2008-04-27,Mumbai Indians,Deccan Chargers,Deccan Chargers,field,normal,0,Deccan Chargers,0,10,AC Gilchrist,Dr DY Patil Sports Academy,Asad Rauf,SL Shastri,NaN
72,73,2008,Chandigarh,2008-04-27,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0,Kings XI Punjab,0,4,SM Katich,"Punjab Cricket Association Stadium, Mohali",RE Koertzen,I Shivram,NaN
73,74,2008,Bangalore,2008-04-28,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,normal,0,Chennai Super Kings,13,0,MS Dhoni,M Chinnaswamy Stadium,BR Doctrove,RB Tiffin,NaN
74,75,2008,Kolkata,2008-04-29,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,normal,0,Mumbai Indians,0,7,ST Jayasuriya,Eden Gardens,BF Bowden,AV Jayaprakash,NaN
75,76,2008,Delhi,2008-04-30,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Delhi Daredevils,10,0,GD McGrath,Feroz Shah Kotla,Aleem Dar,I Shivram,NaN
76,77,2008,Hyderabad,2008-05-01,Deccan Chargers,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,7,SE Marsh,"Rajiv Gandhi International Stadium, Uppal",BR Doctrove,RB Tiffin,NaN
77,78,2008,Jaipur,2008-05-01,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,normal,0,Rajasthan Royals,45,0,SA Asnodkar,Sawai Mansingh Stadium,RE Koertzen,GA Pratapkumar,NaN
78,79,2008,Chennai,2008-05-02,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,normal,0,Delhi Daredevils,0,8,V Sehwag,"MA Chidambaram Stadium, Chepauk",BF Bowden,K Hariharan,NaN
79,80,2008,Hyderabad,2008-05-25,Deccan Chargers,Royal Challengers Bangalore,Deccan Chargers,bat,normal,0,Royal Challengers Bangalore,0,5,R Vinay Kumar,"Rajiv Gandhi International Stadium, Uppal",Asad Rauf,RE Koertzen,NaN
80,81,2008,Chandigarh,2008-05-03,Kings XI Punjab,Kolkata Knight Riders,Kings XI Punjab,bat,normal,0,Kings XI Punjab,9,0,IK Pathan,"Punjab Cricket Association Stadium, Mohali",DJ Harper,I Shivram,NaN
81,82,2008,Mumbai,2008-05-04,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,29,0,SM Pollock,Dr DY Patil Sports Academy,IL Howell,RE Koertzen,NaN
82,83,2008,Jaipur,2008-05-04,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,normal,0,Rajasthan Royals,0,8,Sohail Tanvir,Sawai Mansingh Stadium,Asad Rauf,AV Jayaprakash,NaN
83,84,2008,Bangalore,2008-05-05,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,S Sreesanth,M Chinnaswamy Stadium,SJ Davis,BR Doctrove,NaN
84,85,2008,Chennai,2008-05-06,Chennai Super Kings,Deccan Chargers,Deccan Chargers,field,normal,0,Deccan Chargers,0,7,AC Gilchrist,"MA Chidambaram Stadium, Chepauk",MR Benson,RB Tiffin,NaN
85,86,2008,Mumbai,2008-05-07,Rajasthan Royals,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,7,A Nehra,Dr DY Patil Sports Academy,DJ Harper,RE Koertzen,NaN
86,87,2008,Delhi,2008-05-08,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,4,MS Dhoni,Feroz Shah Kotla,Aleem Dar,RB Tiffin,NaN
87,88,2008,Kolkata,2008-05-08,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,bat,normal,0,Kolkata Knight Riders,5,0,SC Ganguly,Eden Gardens,Asad Rauf,IL Howell,NaN
88,89,2008,Jaipur,2008-05-09,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,8,YK Pathan,Sawai Mansingh Stadium,MR Benson,AM Saheba,NaN
89,90,2008,Bangalore,2008-05-28,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,CRD Fernando,M Chinnaswamy Stadium,BF Bowden,AV Jayaprakash,NaN
90,91,2008,Chennai,2008-05-10,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,field,normal,0,Chennai Super Kings,18,0,L Balaji,"MA Chidambaram Stadium, Chepauk",AV Jayaprakash,BG Jerling,NaN
91,92,2008,Hyderabad,2008-05-11,Kolkata Knight Riders,Deccan Chargers,Kolkata Knight Riders,bat,normal,0,Kolkata Knight Riders,23,0,SC Ganguly,"Rajiv Gandhi International Stadium, Uppal",IL Howell,AM Saheba,NaN
92,93,2008,Jaipur,2008-05-11,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,SR Watson,Sawai Mansingh Stadium,SJ Davis,RE Koertzen,NaN
93,94,2008,Chandigarh,2008-05-12,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,9,SE Marsh,"Punjab Cricket Association Stadium, Mohali",BR Doctrove,I Shivram,NaN
94,95,2008,Kolkata,2008-05-13,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0,Kolkata Knight Riders,23,0,Shoaib Akhtar,Eden Gardens,Asad Rauf,IL Howell,NaN
95,96,2008,Mumbai,2008-05-14,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,ST Jayasuriya,Wankhede Stadium,BR Doctrove,AM Saheba,NaN
96,97,2008,Chandigarh,2008-05-28,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,normal,0,Kings XI Punjab,41,0,SE Marsh,"Punjab Cricket Association Stadium, Mohali",SJ Davis,K Hariharan,NaN
97,98,2008,Delhi,2008-05-15,Delhi Daredevils,Deccan Chargers,Deccan Chargers,field,normal,0,Delhi Daredevils,12,0,A Mishra,Feroz Shah Kotla,BG Jerling,GA Pratapkumar,NaN
98,99,2008,Mumbai,2008-05-16,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,SM Pollock,Wankhede Stadium,BR Doctrove,DJ Harper,NaN
99,100,2008,Delhi,2008-05-17,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,1,Kings XI Punjab,6,0,DPMD Jayawardene,Feroz Shah Kotla,AV Jayaprakash,RE Koertzen,NaN
100,101,2008,Jaipur,2008-05-17,Rajasthan Royals,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rajasthan Royals,65,0,GC Smith,Sawai Mansingh Stadium,BF Bowden,SL Shastri,NaN
101,102,2008,Hyderabad,2008-05-18,Mumbai Indians,Deccan Chargers,Deccan Chargers,field,normal,0,Mumbai Indians,25,0,DJ Bravo,"Rajiv Gandhi International Stadium, Uppal",BR Doctrove,DJ Harper,NaN
102,103,2008,Kolkata,2008-05-18,Kolkata Knight Riders,Chennai Super Kings,Kolkata Knight Riders,bat,normal,1,Chennai Super Kings,3,0,M Ntini,Eden Gardens,Asad Rauf,K Hariharan,NaN
103,104,2008,Bangalore,2008-05-19,Royal Challengers Bangalore,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,5,SP Goswami,M Chinnaswamy Stadium,SJ Davis,GA Pratapkumar,NaN
104,105,2008,Kolkata,2008-05-20,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,6,YK Pathan,Eden Gardens,BG Jerling,RE Koertzen,NaN
105,106,2008,Mumbai,2008-05-21,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Kings XI Punjab,1,0,SE Marsh,Wankhede Stadium,BF Bowden,GA Pratapkumar,NaN
106,107,2008,Chennai,2008-05-21,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,14,0,A Kumble,"MA Chidambaram Stadium, Chepauk",DJ Harper,I Shivram,NaN
107,108,2008,Chandigarh,2008-05-23,Deccan Chargers,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,SE Marsh,"Punjab Cricket Association Stadium, Mohali",Asad Rauf,SJ Davis,NaN
108,109,2008,Delhi,2008-05-24,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,5,KD Karthik,Feroz Shah Kotla,BF Bowden,K Hariharan,NaN
109,110,2008,Chennai,2008-05-24,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,bat,normal,0,Rajasthan Royals,10,0,JA Morkel,"MA Chidambaram Stadium, Chepauk",DJ Harper,SL Shastri,NaN
110,111,2008,Bangalore,2008-05-03,Royal Challengers Bangalore,Deccan Chargers,Deccan Chargers,field,normal,0,Royal Challengers Bangalore,3,0,P Kumar,M Chinnaswamy Stadium,BR Doctrove,SL Shastri,NaN
111,112,2008,Kolkata,2008-05-25,Kings XI Punjab,Kolkata Knight Riders,Kings XI Punjab,bat,normal,0,Kolkata Knight Riders,0,3,Umar Gul,Eden Gardens,SJ Davis,I Shivram,NaN
112,113,2008,Jaipur,2008-05-26,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,5,Sohail Tanvir,Sawai Mansingh Stadium,BF Bowden,K Hariharan,NaN
113,114,2008,Hyderabad,2008-05-27,Deccan Chargers,Chennai Super Kings,Deccan Chargers,bat,normal,0,Chennai Super Kings,0,7,SK Raina,"Rajiv Gandhi International Stadium, Uppal",BG Jerling,AM Saheba,NaN
114,115,2008,Mumbai,2008-05-30,Rajasthan Royals,Delhi Daredevils,Delhi Daredevils,field,normal,0,Rajasthan Royals,105,0,SR Watson,Wankhede Stadium,BF Bowden,RE Koertzen,NaN
115,116,2008,Mumbai,2008-05-31,Kings XI Punjab,Chennai Super Kings,Kings XI Punjab,bat,normal,0,Chennai Super Kings,0,9,M Ntini,Wankhede Stadium,Asad Rauf,DJ Harper,NaN
116,117,2008,Mumbai,2008-06-01,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,YK Pathan,Dr DY Patil Sports Academy,BF Bowden,RE Koertzen,NaN

In [146]:
seasons1 = df1.groupby(by="season",group_keys=False)

In [147]:
seasons1.groups

{2008: [59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116], 2009: [117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173], 2010: [174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233], 2011: [234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306], 2012: [307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380], 2013: [381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456], 2014: [457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516], 2015: [517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575], 2016: [576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635], 2017: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58]}

In [145]:
seasons.group_keys

In [151]:
winners = df1.groupby(by=["winner","season"],sort=True)
winners.groups

{('Chennai Super Kings', 2008): [60, 66, 70, 73, 86, 90, 102, 113, 115], ('Chennai Super Kings', 2009): [121, 136, 140, 143, 148, 151, 161, 168], ('Chennai Super Kings', 2010): [181, 184, 201, 205, 210, 221, 227, 231, 233], ('Chennai Super Kings', 2011): [234, 247, 261, 263, 271, 275, 284, 288, 296, 303, 306], ('Chennai Super Kings', 2012): [312, 319, 331, 333, 351, 360, 363, 367, 378, 379], ('Chennai Super Kings', 2013): [390, 395, 403, 405, 409, 413, 417, 421, 424, 434, 445, 453], ('Chennai Super Kings', 2014): [464, 466, 469, 473, 477, 482, 489, 493, 509, 514], ('Chennai Super Kings', 2015): [518, 520, 529, 537, 541, 546, 553, 562, 568, 574], ('Deccan Chargers', 2008): [71, 84], ('Deccan Chargers', 2009): [120, 123, 127, 130, 146, 154, 162, 171, 173], ('Deccan Chargers', 2010): [178, 185, 188, 213, 215, 219, 224, 228], ('Deccan Chargers', 2011): [244, 252, 264, 291, 294, 299], ('Deccan Chargers', 2012): [340, 347, 372, 375], ('Delhi Daredevils', 2008): [61, 65, 75, 78, 97, 103, 108], ('Delhi Daredevils', 2009): [119, 124, 128, 135, 145, 149, 153, 157, 164, 169], ('Delhi Daredevils', 2010): [176, 179, 196, 199, 202, 208, 223], ('Delhi Daredevils', 2011): [249, 258, 268, 278], ('Delhi Daredevils', 2012): [308, 317, 322, 326, 330, 338, 341, 344, 348, 368, 373], ('Delhi Daredevils', 2013): [407, 418, 423], ('Delhi Daredevils', 2014): [462, 472], ('Delhi Daredevils', 2015): [527, 530, 538, 547, 564], ('Delhi Daredevils', 2016): [582, 586, 592, 601, 606, 617, 627], ('Delhi Daredevils', 2017): [8, 14, 38, 40, 48, 50], ('Gujarat Lions', 2016): [578, 581, 584, 594, 598, 600, 613, 626, 629], ('Gujarat Lions', 2017): [12, 22, 29, 45], ('Kings XI Punjab', 2008): [68, 72, 76, 80, 83, 93, 96, 99, 105, 107], ('Kings XI Punjab', 2009): [126, 129, 134, 141, 150, 160, 163], ('Kings XI Punjab', 2010): [189, 207, 214, 217], ('Kings XI Punjab', 2011): [242, 248, 255, 286, 289, 292, 295], ('Kings XI Punjab', 2012): [320, 324, 335, 342, 349, 358, 365, 370], ('Kings XI Punjab', 2013): [386, 399, 408, 411, 428, 442, 447, 449], ('Kings XI Punjab', 2014): [459, 463, 465, 471, 474, 485, 487, 495, 501, 508, 511, 515], ('Kings XI Punjab', 2015): [523, 535, 565], ('Kings XI Punjab', 2016): [585, 603, 611, 618], ('Kings XI Punjab', 2017): [3, 7, 25, 34, 41, 47, 49], ('Kochi Tuskers Kerala', 2011): [246, 251, 254, 273, 277, 293], ('Kolkata Knight Riders', 2008): [59, 63, 87, 91, 94, 111], ('Kolkata Knight Riders', 2009): [122, 165, 167], ('Kolkata Knight Riders', 2010): [174, 177, 195, 203, 212, 226, 229], ('Kolkata Knight Riders', 2011): [239, 245, 250, 265, 269, 274, 280, 297], ('Kolkata Knight Riders', 2012): [316, 321, 329, 336, 343, 346, 352, 356, 369, 374, 377, 380], ('Kolkata Knight Riders', 2013): [381, 396, 414, 426, 436, 440], ('Kolkata Knight Riders', 2014): [457, 467, 484, 490, 496, 499, 503, 505, 510, 513, 516], ('Kolkata Knight Riders', 2015): [517, 526, 531, 534, 544, 554, 559], ('Kolkata Knight Riders', 2016): [577, 583, 588, 595, 605, 607, 620, 630], ('Kolkata Knight Riders', 2017): [2, 10, 13, 17, 26, 28, 30, 44, 56], ('Mumbai Indians', 2008): [74, 81, 85, 89, 95, 98, 101], ('Mumbai Indians', 2009): [117, 131, 137, 152, 156], ('Mumbai Indians', 2010): [175, 182, 190, 193, 198, 200, 206, 218, 220, 225, 230], ('Mumbai Indians', 2011): [237, 241, 253, 256, 259, 272, 276, 281, 302, 304], ('Mumbai Indians', 2012): [307, 315, 318, 339, 345, 350, 354, 362, 366, 376], ('Mumbai Indians', 2013): [385, 389, 394, 412, 416, 420, 429, 433, 438, 443, 446, 455, 456], ('Mumbai Indians', 2014): [478, 483, 492, 500, 504, 507, 512], ('Mumbai Indians', 2015): [533, 540, 548, 551, 555, 558, 566, 571, 572, 575], ('Mumbai Indians', 2016): [580, 589, 596, 599, 604, 616, 622], ('Mumbai Indians', 2017): [6, 9, 11, 15, 21, 23, 33, 36, 43, 52, 57, 58], ('Pune Warriors', 2011): [238, 243, 283, 285], ('Pune Warriors', 2012): [309, 314, 323, 334], ('Pune Warriors', 2013): [392, 398, 444, 450], ('Rajasthan Royals', 2008): [64, 67, 69, 77, 82, 88, 92, 100, 104, 109, 112, 114, 116], ('Rajasthan Royals', 2009): [125, 132, 139, 144, 147, 159], ('Rajasthan Royals', 2010): [186, 192, 194, 197, 209, 211], ('Rajasthan Royals', 2011): [235, 240, 260, 266, 270, 298], ('Rajasthan Royals', 2012): [310, 313, 325, 327, 353, 357, 364], ('Rajasthan Royals', 2013): [384, 388, 397, 402, 415, 419, 430, 432, 435, 441, 454], ('Rajasthan Royals', 2014): [460, 470, 475, 479, 481, 491, 497], ('Rajasthan Royals', 2015): [519, 522, 525, 528, 532, 552, 569], ('Rising Pune Supergiant', 2017): [1, 16, 24, 27, 32, 37, 39, 42, 53, 55], ('Rising Pune Supergiants', 2016): [576, 597, 608, 624, 628], ('Royal Challengers Bangalore', 2008): [62, 79, 106, 110], ('Royal Challengers Bangalore', 2009): [118, 133, 138, 142, 155, 158, 166, 170, 172], ('Royal Challengers Bangalore', 2010): [180, 183, 187, 191, 204, 216, 222, 232], ('Royal Challengers Bangalore', 2011): [236, 257, 262, 267, 279, 282, 287, 290, 301, 305], ('Royal Challengers Bangalore', 2012): [311, 328, 332, 337, 355, 359, 361, 371], ('Royal Challengers Bangalore', 2013): [382, 391, 400, 406, 410, 425, 431, 437, 451], ('Royal Challengers Bangalore', 2014): [458, 461, 480, 494, 498], ('Royal Challengers Bangalore', 2015): [521, 539, 542, 549, 556, 561, 567, 573], ('Royal Challengers Bangalore', 2016): [579, 591, 610, 614, 619, 623, 625, 631, 632], ('Royal Challengers Bangalore', 2017): [4, 19, 54], ('Sunrisers Hyderabad', 2013): [383, 387, 393, 401, 404, 422, 427, 439, 448, 452], ('Sunrisers Hyderabad', 2014): [468, 476, 486, 488, 502, 506], ('Sunrisers Hyderabad', 2015): [524, 536, 543, 550, 557, 560, 563], ('Sunrisers Hyderabad', 2016): [587, 590, 593, 602, 609, 612, 615, 621, 633, 634, 635], ('Sunrisers Hyderabad', 2017): [0, 5, 18, 20, 31, 35, 46, 51], (nan, 2011): [300], (nan, 2015): [545, 570]}

In [150]:
winners = df1.groupby(by=["winner","season"],group_keys=False,sort=False)
winners.groups

{('Chennai Super Kings', 2008): [60, 66, 70, 73, 86, 90, 102, 113, 115], ('Chennai Super Kings', 2009): [121, 136, 140, 143, 148, 151, 161, 168], ('Chennai Super Kings', 2010): [181, 184, 201, 205, 210, 221, 227, 231, 233], ('Chennai Super Kings', 2011): [234, 247, 261, 263, 271, 275, 284, 288, 296, 303, 306], ('Chennai Super Kings', 2012): [312, 319, 331, 333, 351, 360, 363, 367, 378, 379], ('Chennai Super Kings', 2013): [390, 395, 403, 405, 409, 413, 417, 421, 424, 434, 445, 453], ('Chennai Super Kings', 2014): [464, 466, 469, 473, 477, 482, 489, 493, 509, 514], ('Chennai Super Kings', 2015): [518, 520, 529, 537, 541, 546, 553, 562, 568, 574], ('Deccan Chargers', 2008): [71, 84], ('Deccan Chargers', 2009): [120, 123, 127, 130, 146, 154, 162, 171, 173], ('Deccan Chargers', 2010): [178, 185, 188, 213, 215, 219, 224, 228], ('Deccan Chargers', 2011): [244, 252, 264, 291, 294, 299], ('Deccan Chargers', 2012): [340, 347, 372, 375], ('Delhi Daredevils', 2008): [61, 65, 75, 78, 97, 103, 108], ('Delhi Daredevils', 2009): [119, 124, 128, 135, 145, 149, 153, 157, 164, 169], ('Delhi Daredevils', 2010): [176, 179, 196, 199, 202, 208, 223], ('Delhi Daredevils', 2011): [249, 258, 268, 278], ('Delhi Daredevils', 2012): [308, 317, 322, 326, 330, 338, 341, 344, 348, 368, 373], ('Delhi Daredevils', 2013): [407, 418, 423], ('Delhi Daredevils', 2014): [462, 472], ('Delhi Daredevils', 2015): [527, 530, 538, 547, 564], ('Delhi Daredevils', 2016): [582, 586, 592, 601, 606, 617, 627], ('Delhi Daredevils', 2017): [8, 14, 38, 40, 48, 50], ('Gujarat Lions', 2016): [578, 581, 584, 594, 598, 600, 613, 626, 629], ('Gujarat Lions', 2017): [12, 22, 29, 45], ('Kings XI Punjab', 2008): [68, 72, 76, 80, 83, 93, 96, 99, 105, 107], ('Kings XI Punjab', 2009): [126, 129, 134, 141, 150, 160, 163], ('Kings XI Punjab', 2010): [189, 207, 214, 217], ('Kings XI Punjab', 2011): [242, 248, 255, 286, 289, 292, 295], ('Kings XI Punjab', 2012): [320, 324, 335, 342, 349, 358, 365, 370], ('Kings XI Punjab', 2013): [386, 399, 408, 411, 428, 442, 447, 449], ('Kings XI Punjab', 2014): [459, 463, 465, 471, 474, 485, 487, 495, 501, 508, 511, 515], ('Kings XI Punjab', 2015): [523, 535, 565], ('Kings XI Punjab', 2016): [585, 603, 611, 618], ('Kings XI Punjab', 2017): [3, 7, 25, 34, 41, 47, 49], ('Kochi Tuskers Kerala', 2011): [246, 251, 254, 273, 277, 293], ('Kolkata Knight Riders', 2008): [59, 63, 87, 91, 94, 111], ('Kolkata Knight Riders', 2009): [122, 165, 167], ('Kolkata Knight Riders', 2010): [174, 177, 195, 203, 212, 226, 229], ('Kolkata Knight Riders', 2011): [239, 245, 250, 265, 269, 274, 280, 297], ('Kolkata Knight Riders', 2012): [316, 321, 329, 336, 343, 346, 352, 356, 369, 374, 377, 380], ('Kolkata Knight Riders', 2013): [381, 396, 414, 426, 436, 440], ('Kolkata Knight Riders', 2014): [457, 467, 484, 490, 496, 499, 503, 505, 510, 513, 516], ('Kolkata Knight Riders', 2015): [517, 526, 531, 534, 544, 554, 559], ('Kolkata Knight Riders', 2016): [577, 583, 588, 595, 605, 607, 620, 630], ('Kolkata Knight Riders', 2017): [2, 10, 13, 17, 26, 28, 30, 44, 56], ('Mumbai Indians', 2008): [74, 81, 85, 89, 95, 98, 101], ('Mumbai Indians', 2009): [117, 131, 137, 152, 156], ('Mumbai Indians', 2010): [175, 182, 190, 193, 198, 200, 206, 218, 220, 225, 230], ('Mumbai Indians', 2011): [237, 241, 253, 256, 259, 272, 276, 281, 302, 304], ('Mumbai Indians', 2012): [307, 315, 318, 339, 345, 350, 354, 362, 366, 376], ('Mumbai Indians', 2013): [385, 389, 394, 412, 416, 420, 429, 433, 438, 443, 446, 455, 456], ('Mumbai Indians', 2014): [478, 483, 492, 500, 504, 507, 512], ('Mumbai Indians', 2015): [533, 540, 548, 551, 555, 558, 566, 571, 572, 575], ('Mumbai Indians', 2016): [580, 589, 596, 599, 604, 616, 622], ('Mumbai Indians', 2017): [6, 9, 11, 15, 21, 23, 33, 36, 43, 52, 57, 58], ('Pune Warriors', 2011): [238, 243, 283, 285], ('Pune Warriors', 2012): [309, 314, 323, 334], ('Pune Warriors', 2013): [392, 398, 444, 450], ('Rajasthan Royals', 2008): [64, 67, 69, 77, 82, 88, 92, 100, 104, 109, 112, 114, 116], ('Rajasthan Royals', 2009): [125, 132, 139, 144, 147, 159], ('Rajasthan Royals', 2010): [186, 192, 194, 197, 209, 211], ('Rajasthan Royals', 2011): [235, 240, 260, 266, 270, 298], ('Rajasthan Royals', 2012): [310, 313, 325, 327, 353, 357, 364], ('Rajasthan Royals', 2013): [384, 388, 397, 402, 415, 419, 430, 432, 435, 441, 454], ('Rajasthan Royals', 2014): [460, 470, 475, 479, 481, 491, 497], ('Rajasthan Royals', 2015): [519, 522, 525, 528, 532, 552, 569], ('Rising Pune Supergiant', 2017): [1, 16, 24, 27, 32, 37, 39, 42, 53, 55], ('Rising Pune Supergiants', 2016): [576, 597, 608, 624, 628], ('Royal Challengers Bangalore', 2008): [62, 79, 106, 110], ('Royal Challengers Bangalore', 2009): [118, 133, 138, 142, 155, 158, 166, 170, 172], ('Royal Challengers Bangalore', 2010): [180, 183, 187, 191, 204, 216, 222, 232], ('Royal Challengers Bangalore', 2011): [236, 257, 262, 267, 279, 282, 287, 290, 301, 305], ('Royal Challengers Bangalore', 2012): [311, 328, 332, 337, 355, 359, 361, 371], ('Royal Challengers Bangalore', 2013): [382, 391, 400, 406, 410, 425, 431, 437, 451], ('Royal Challengers Bangalore', 2014): [458, 461, 480, 494, 498], ('Royal Challengers Bangalore', 2015): [521, 539, 542, 549, 556, 561, 567, 573], ('Royal Challengers Bangalore', 2016): [579, 591, 610, 614, 619, 623, 625, 631, 632], ('Royal Challengers Bangalore', 2017): [4, 19, 54], ('Sunrisers Hyderabad', 2013): [383, 387, 393, 401, 404, 422, 427, 439, 448, 452], ('Sunrisers Hyderabad', 2014): [468, 476, 486, 488, 502, 506], ('Sunrisers Hyderabad', 2015): [524, 536, 543, 550, 557, 560, 563], ('Sunrisers Hyderabad', 2016): [587, 590, 593, 602, 609, 612, 615, 621, 633, 634, 635], ('Sunrisers Hyderabad', 2017): [0, 5, 18, 20, 31, 35, 46, 51], (nan, 2011): [300], (nan, 2015): [545, 570]}